# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Python venv
venv/
ENV/
env/
.venv/

# Python cache ve derleme dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Model dosyaları (büyük dosyalar)
*.pth
*.tflite
*.h5

# IDE ve sistem dosyaları
.idea/
.vscode/
.DS_Store

# Geçici ve çıktı dosyaları
*.tmp
*.bak

# Kişisel/çalışma dosyaları
sonuc.jpg
görseller/

# Flutter build output
**/build/
app1.py
yaprak_segmentasyon_final.py
yaprak_segmentasyon.py
local_yaprak_segmentasyon.py
sonuc.jpg
görseller/

assets/
lib/
test/
macos/
linux/
ios/
build/
android/
assets/
.dart_tool/
pubspec.yaml
pubspec.lock
.metadata
analysis_options.yaml
windows/
web/
.yaprak_tani.iml
